<?xml version="1.1" encoding="UTF-8"?>
<smarthome>
    <object name="LPT1" class="interfaces.parallel_port"/>

    <!-- Осветительная сеть -->
    <object name="lighting_box" class="interfaces.serial_bit_vector" device_mask="/dev/ttyUSB*" bits_number="8" />
    <object name="corridor_light"          title="в коридоре"          class="devices.light"         bit="lighting_box[0]" />
    <object name="balcony_light"           title="на балконе"          class="devices.light"         bit="lighting_box[1]" />
    <object name="room_center_light"       title="в комнате"           class="devices.light"         bit="lighting_box[2]" />
    <object name="bathroom_light"          title="в ванной"            class="devices.light"         bit="lighting_box[3]" />
    <object name="kitchen_light"           title="на кухне"            class="devices.light"         bit="lighting_box[4]" />
    <object name="kitchen_work_zone_light" title="Подсветка кухни"     class="devices.on_off_device" bit="lighting_box[5]"  gender="female" />
    <object name="room_highlight"          title="Подсветка комнаты"   class="devices.on_off_device" bit="lighting_box[6]"  gender="female" />
    <object name="bathroom_fan"            title="Вентилятор в ванной" class="devices.on_off_device" bit="lighting_box[7]" />

    <!-- Умный домофон -->
    <object name="intercom" class="devices.intercom" receiver_bit="LPT1.outputs[Select]"
                                                     door_bit="LPT1.outputs[InitOut]"
                                                     input_device="hw:CARD=Intel,DEV=0">
        <output_device type="string">intercom</output_device>
    </object>
    <object name="intercom_manager" class="services.intercom_manager" intercom="intercom" />

    <!-- Громкоговорители на шкафу в коридоре и говорилка -->
    <object name="hall_loudspeakers" class="interfaces.sound_player" />
    <object name="speech_synthesizer" class="services.speech_synthesizer" sound_player="hall_loudspeakers" />

    <!-- Дверной звонок -->
    <object name="door_bell_ringer" class="toys.souvlaki_space_station_door_bell" sound_player="hall_loudspeakers" />
    <on object="LPT1.inputs[Error]" event="value changed" value="False">
        <call object="door_bell_ringer" method="ring" />
    </on>

    <!-- Гости -->
    <object name="guests_watcher" class="watchers.guests_watcher" api_url="http://last.fm.thelogin.ru"
                                                                  front_door="front_door"
                                                                  speech_synthesizer="speech_synthesizer" />

    <!-- Рабочий стол -->
    <object name="desktop" class="interfaces.ip_bit_vector" local_host="192.168.0.1" local_port="2011"
                                                            remote_host="192.168.0.3" remote_port="2011"
                                                            bits_number="2" />
    <object name="desktop_screens" title="Мониторы"         class="devices.on_off_device" bit="desktop[0]"  gender="plural" />
    <object name="desktop_light"   title="Настольная лампа" class="devices.on_off_device" bit="desktop[1]"  gender="female" />

    <!-- Медиацентр -->
    <object name="tv_vector" class="interfaces.ip_bit_vector" local_host="192.168.0.1" local_port="8404"
                                                              remote_host="192.168.0.4" remote_port="8404"
                                                              bits_number="1" />
    <object name="tv" title="Телевизор" class="devices.on_off_device" bit="tv_vector[0]" />
    <object name="mediacenter" class="interfaces.ssh" host="192.168.0.4" username="themylogin" />
    <object name="amplifier" class="devices.nad_amplifier" host="192.168.0.4" />

    <!-- Умная ванная -->
    <object name="bathroom_door" title="Дверь в ванную" class="devices.door" bit="LPT1.inputs[PaperOut]" />
    <object name="bathroom_loudspeakers" class="devices.alsa_output" ssh="mediacenter" output_name="Master" />
    <object name="bathroom_loudspeakers_volume_control" class="devices.alsa_output" ssh="mediacenter" output_name="Line" />
    <object name="bathroom_led_strip" class="devices.led_strip" title="Светодиодная лента в ванной" path="/dev/ttyS5" />
    <object name="bathroom_remote_keyboard" class="interfaces.evdev_input" path="/dev/input/by-id/usb-HJXKJ_USB_Device-event-kbd" />
    <object name="bathroom_remote_mouse" class="interfaces.evdev_input" path="/dev/input/by-id/usb-HJXKJ_USB_Device-if01-event-mouse" />
    <!-- Включать свет при входе, если только не горит светодиодная лента -->
    <policy condition="not bathroom_led_strip.on">
        <on object="bathroom_door" event="opened">
            <set object="bathroom_light" property="on" value="True" />
        </on>
    </policy>
    <!-- Когда в ванной включен свет, должна играть и музыка -->
    <policy condition="len(guests_watcher.guests) == 0">
        <keep object="bathroom_loudspeakers" property="on" value="bathroom_light.on or bathroom_led_strip.on" />
    </policy>
    <!-- А при гостях - только при закрытой двери -->
    <policy condition="len(guests_watcher.guests) != 0">
        <keep object="bathroom_loudspeakers" property="on" value="(bathroom_light.on or bathroom_led_strip.on) and not bathroom_door.open" />
    </policy>
    <!-- Пульт в ванной -->
    <on object="bathroom_remote_keyboard" event="KEY_HOME DOWN">
        <call object="bathroom_led_strip" method="next_generator" />
    </on>
    <on object="bathroom_remote_mouse" event="KEY_POWER DOWN">
        <set object="bathroom_light" property="on" value="not bathroom_light.on" />
    </on>
    <!-- Пульт в ванной: музыка -->
    <on object="bathroom_remote_mouse" event="BTN_MOUSE DOWN">
        <call object="mediacenter" method="execute_command" command="mpc toggle" />
    </on>
    <on object="bathroom_remote_keyboard" event="KEY_LEFT DOWN">
        <call object="mediacenter" method="execute_command" command="mpc prev" />
    </on>
    <on object="bathroom_remote_keyboard" event="KEY_RIGHT DOWN">
        <call object="mediacenter" method="execute_command" command="mpc next" />
    </on>
    <!-- Пульт в ванной: громкость -->
    <on object="bathroom_remote_mouse" event="KEY_VOLUMEDOWN DOWN">
        <call object="bathroom_loudspeakers_volume_control" method="decrease_volume" steps="1" />
    </on>
    <on object="bathroom_remote_mouse" event="KEY_VOLUMEUP DOWN">
        <call object="bathroom_loudspeakers_volume_control" method="increase_volume" steps="1" />
    </on>
    <!-- Вентилятор в ванной -->
    <object name="bathroom_fan_manager" class="services.bathroom_fan_manager" light="bathroom_light" fan="bathroom_fan" />

    <!-- Музыка на кухне -->
    <keep object="amplifier" property="speaker_b_on" value="kitchen_light.on or kitchen_work_zone_light.on" />

    <!-- Все электроприборы в доме -->
    <object name="all_electricity" class="tools.on_off_group">
        <devices>
            <device>all_lights</device>
            <device>desktop_screens</device>
            <device>tv</device>
        </devices>
    </object>
    <object name="all_electricity_except_tv" class="tools.on_off_group">
        <devices>
            <device>all_lights</device>
            <device>desktop_screens</device>
        </devices>
    </object>
    <object name="all_lights" class="tools.on_off_group">
        <devices>
            <device>corridor_light</device>
            <device>balcony_light</device>
            <device>room_center_light</device>
            <device>bathroom_light</device>
            <device>kitchen_light</device>
            <device>room_highlight</device>

            <device>desktop_light</device>
        </devices>
    </object>
    <!-- Уходя из дома, выключайте свет! -->
    <object name="front_door" title="Входная дверь" class="devices.door" bit="LPT1.inputs[Busy]" />
    <object name="keys_holder" class="devices.keys_holder" bit="LPT1.inputs[Acknowledge]" />
    <object name="owner_watcher" class="watchers.owner_watcher"
            front_door="front_door"
            keys_holder="keys_holder"
            speech_synthesizer="speech_synthesizer" />
    <on object="owner_watcher" event="left">
        <set object="all_electricity" property="on" value="False" />
    </on>
    <!-- А при возвращении в тёмное время суток - включать обратно -->
    <object name="sun" class="watchers.sun" latitude="55:02:00" longitude="82:55:00" />
    <policy condition="not sun.is_shining">
        <on object="owner_watcher" event="came">
            <set object="corridor_light" property="on" value="True" />
        </on>
    </policy>

    <!-- Сон -->
    <object name="sleep_tracker" class="trackers.sleep_tracker" fall_timeout="1200" raise_timeout="1200">
        <life_signs>
            <life_sign type="expression">not owner_watcher.at_home</life_sign>
            <life_sign type="expression">len(all_electricity.on) > 0</life_sign>
        </life_signs>
    </object>
</smarthome>
